.content {
	background: #000;
	height: 100vh;
	overflow: hidden;
}
.content h1 {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: candara;
    text-transform: uppercase;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-size: 80px;
	text-align: center;
}
.box ul li {
	position: absolute;
	width: 35px;
	height: 35px;
	list-style: none;
	opacity: 0;
	background: radial-gradient(deepskyblue, transparent, transparent);
	bottom: 0;
	left: 10vw;
	animation: animate 15s linear infinite;
	z-index: 0;
}
.box ul li:nth-child(2) {
	left: 36vw;
	animation-delay: 2s;
	z-index: 0;
}
.box ul li:nth-child(3) {
	left: 22vw;
	animation-delay: 4s;
	z-index: 0;

}
.box ul li:nth-child(4) {
	left: 56vw;
	animation-delay: 6s;
	z-index: 0;

}
.box ul li:nth-child(5) {
	left: 76vw;
	animation-delay: 4s;
	z-index: 0;

}
.box ul li:nth-child(6) {
	left: 80vw;
	animation-delay: 8s;
	z-index: 0;

}
@keyframes animate {
	0% {
		transform: scale(0);
		opacity: 1;
		bottom: 0;
	}
	100% {
		transform: scale(10);
		opacity: 0;
		bottom: 100vh;
	}
}
