.button {
    font: inherit;
    border: 1px solid #118886;
    background: #118886;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover,
.button:active {
    background: #118886;
    border-color: #118886;
}

.button:focus {
    outline: none;
}